<div>
    HP:<input type="number" value="" data-ng-model="module.hp" />
    Encounter HP:<input type="number" value="" data-ng-model="module.encounterHP" />
    <button data-ng-click="module.hit()">hit</button><button data-ng-click="module.heal()">heal</button><button data-ng-click="module.recoverEncounterHP()">End Scene</button>
</div>
<div>
    Facts:<input type="number" value="" data-ng-model="module.facts" /><button data-ng-click="module.facts=module.facts+1">+</button><button data-ng-click="module.facts=module.facts-1">-</button>
</div>