.descriptor {
    display: block;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    margin: 0 auto;

}
.stat-container {
    margin-top: 20px;
    margin-bottom: -30px;
    display: inline-block;
}
.stat-container input {
    width: 175px;
    height: 90px;
    font-size: 80px;
    text-align: center;
    border: 0;
    background-color: #C2C2C2;
}

.stat-button-container {
    display: inline-block;
    width: 120px;
/*    text-align: right;*/
}
.stat-button-container button {
    margin-top: 10px;
    width: 110px;
}

#hps-container {
    margin-top: -30px;
}
#hp-container input {
    width: 200px;
    height: 120px;
    font-size: 100px;
}

#facts-button-container button {
    display: block;
    width: 40px;
    font-size: 20px;
}
#facts-container {
    margin-left: 50px;
}
#facts-container input {
    width: 105px;
}

#coin-container {
    width: 400px;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0);
}

#coin {
  
    border: 5px solid rgba(0.8,0.8,0.8,1);
    
    border-radius: 50%;
    width:120px;
    height:120px;
    
    background-image: url("macron-halfhalf-c-120.png"); 
    background-repeat: no-repeat;
    background-position: 50% 0%;
    
    margin: 0px auto;
}

#coin:hover{
    border-color: #903;
    cursor: pointer;

}

#coin:hover #coin-text{
    color: #903;
}

.heads{
  background-image: url("macron-wb-c-120.png");
  background-position: 50% 0%;
  
  background-repeat:no-repeat;
  margin: 0px auto;
}
.tails{
  background-image: url("macron-bw-c-120.png");
  background-position: 50% 0%;
  
  background-repeat:no-repeat;
  
  margin: 0px auto;
}

#coin-cover{
  width:120px;
  height:120px;
  margin: 0px auto;
  border-radius: 50%;
  
}
