<link rel="stylesheet" type="text/css" href="modules\chris-qual-outcomes\stylesheet.css">

<div class="highlight-section pad-me">
    <div id="qual-table" style="grid-template-rows: repeat({{module.OutcomeList.length + 1}}, auto);" >
        <div class="qual-header">Result</div>
        <div data-ng-repeat="outcome in module.OutcomeList">{{outcome.name}}</div>
        <div class="qual-header">Outcome</div>
        <div data-ng-repeat="outcome in module.OutcomeList">{{outcome.cat}}</div>
        <div class="qual-header">Resolved</div>
        <div data-ng-repeat="outcome in module.OutcomeList">{{outcome.resolved ? "True" : "False"}}</div>
        <div class="qual-header">Success</div>
        <div data-ng-repeat="outcome in module.OutcomeList">{{outcome.weight}}</div>
    </div>
</div>

<div class="pad-me">

    <div class="uncertainty-visualization">
        <div id="uncertainty"style="flex-grow:{{(module.uncertain/100.0)}}"></div>
        <div id="success" style="flex-grow:{{((100 - module.uncertain)/100.0) * ((module.success)/100.0)}}"></div>
        <div id="failure" style="flex-grow:{{((100 - module.uncertain)/100.0) * ((100 - module.success)/100.0)}}"></div>
    </div>

    <div class="slider-container">
        <label>Chance of success</label>
        <input type="range" min="0" max="100" value="50" class="qual-slider" id="success-failure-slider" data-ng-model="module.success" />
        <label>Chance of uncertain</label>
        <input type="range" min="0" max="100" value="20" class="qual-slider" id="uncertain-slider" data-ng-model="module.uncertain" />

    </div>

    <div>
        <input type="button" value="Output:" data-ng-click="module.role()" />
        <p>{{module.output}}</p>
    </div>

</div>



