<div class="pad-me">
    <form>
        <input type ="number" min="1" max="10" value="{{module.ndrolls}}" id="ndicerolls" class="narrowinput"/> 
        <font size="4px">d</font>
        <input type ="number" min="1" max="120" value="{{module.hi}}" id="dicerangehi" class="narrowinput"/>
        <input type="submit" data-ng-click="module.diceRoll()" value="Roll!" />
    </form>
    
    <div class="mybox padme">
        <table align="left" class="drollresults">
        <tr> 
        <td width="50px"> Sum: 
        <td> {{module.drollsum}}
        </tr>
        <tr width="50px"> 
        <td> Rolls: 
        <td> {{module.drollstext}}
        </tr>
        </table>
    </div>
    
      
  <div class="advopt padme">

    <input id="toggle3" class="noselect nuchdiceinput" type="checkbox">
    <label for="toggle3" class="noselect nuchdicelabel">
      Advanced options
    </label>
    
    <div id="expand3">
      <form>
        <table align="left" class="drollresults">
          <tr> 
            <td width="150px"> <font size="3px">RNG Seed: </font> 
            <td> <input type="number" min="0" id="mtseed" value="{{module.initseed}}" />
          </tr>
          <tr>
            <td> <font size="3px">Dice lower bound: </font>
            <td> <input type="number" id="lowerbnd" value="{{module.lo}}" />
          </tr>
          <tr>
            <td> 
            <td> <input type="submit" data-ng-click="module.saveAdvSettings()" value="Save" />
          </tr>
        </table>
      </form>
    </div>
  </div>

</div>

<!-- This needs to be on bottom. -->
<link rel="stylesheet" type="text/css" href="modules/manuchehr-aminian-dice/stylesheet.css">