:root{
  --collapse-icon: "+";
  --expand-icon: "-";
  --icon-fsize: 10pt;
  --collapse-speed: 0.1s;
}


/* Hide check box */
.nuchdiceinput {
  display: none;
  visibility: hidden;
}

/* Pretty labeling */
.nuchdicelabel {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid #CCC;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.advopt {
  font-size: 10px;
}

div.mybox{
 height: 80px;
}

input.narrowinput{
  width:40px;
}

table.drollresults{
  float: left;
  text-align: left;
}

label::before {
  font-size: var(--icon-fsize);
  content: var(--collapse-icon); 
/*  vertical-align: text-center; */
  display: inline-block;
  width: var(--icon-fsize);
  height: var(--icon-fsize);
  margin-right: 3px;
}

/* div properties for expandable section 3 */
#expand3 {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height var(--collapse-speed);
  transition: height var(--collapse-speed);
  margin-top:5px;
}

#toggle3:checked ~ #expand3 {
  height: auto;
}

#toggle3:checked ~ label::before {
/*  vertical-align: text-center; */
  content: var(--expand-icon);
}

