<link href="modules/colin-wielga-skill-web/stylesheet.css" rel="stylesheet"  type="text/css" />
<div data-ng-repeat="skill in module.network.skills" data-ng-init="edit = false" >
    <div class="show-row pad-me">
        
        <!--<input type="button" value="{{module.getText(skill)}}" data-ng-class="{'switch-on':skill.active, 'switch-off':!skill.active}"  />-->
        <span data-ng-class="{'switch-on':skill.active, 'switch-off':!skill.active}" data-ng-click="skill.active = !skill.active">
            <i class="fa fa-check" aria-hidden="true" ></i>
            {{skill.name}}
        </span>
        <i class="fa fa-expand" aria-hidden="true" data-ng-class="{'switch-hide-on':edit, 'switch-hide-off':!edit}" data-ng-click="edit = !edit"></i>
        
        <!--<span class="edit-toggle clickable-text" data-ng-show="!edit" data-ng-click="edit = true">(edit)</span>
        <span class="edit-toggle clickable-text" data-ng-show="edit" data-ng-click="edit = false" >(done editing)</span>-->
    </div>
    <div data-ng-show="edit" class="edit-area highlight-section pad-me">
        <div>
            specificity: <input type="number" data-ng-model="skill.specificity" />
        </div>
        <div>
            rank: <input type="number" data-ng-model="skill.rank" />
        </div>
        <div>
            helps:
            <span data-ng-repeat="subskill in module.subskills(skill.name)">
                <span class="clickable-text" data-ng-click="module.unconnect(skill.name,subskill)" >{{subskill}}</span>
            </span>   
        </div>
        <div>
            could help:
            <span class="clickable-text" data-ng-repeat="couldAdd in module.couldAdd(skill.name)">
                <span data-ng-click="module.connect(skill.name,couldAdd)" >{{couldAdd}}</span>
            </span>  
        </div>
        <div>
            <input type="button" value="remove" data-ng-click="module.remove(skill)" />
        </div>
    </div>
</div>
<div class="pad-me">
    <input type="text" data-ng-model="module.newSkill" />
    <input type="button" value="add" data-ng-click="module.add(module.newSkill)" data-ng-disabled="module.isNameOk(module.newSkill)" />
</div>