<div data-ng-repeat="skill in module.network.skills" data-ng-init="edit = false" >
    <div>
        <input type="button" value="??" data-ng-click="skill.active = !skill.active" />
        <span>{{skill.name}}</span>
        <span class="clickable-text" data-ng-show="!edit" data-ng-click="edit = true">edit...</span>
        <span class="clickable-text" data-ng-show="edit" data-ng-click="edit = false" >done editing</span>
        <input data-ng-show="edit" type="button" value="x" data-ng-click="module.remove(skill)" />
    </div>
    <div data-ng-show="edit">
        <div>
            specificity: <input type="number" data-ng-model="skill.specificity" />
        </div>
        <div>
            rank: <input type="number" data-ng-model="skill.rank" />
        </div>
        <div>
            helps:
            <span data-ng-repeat="subskill in module.subskills(skill.name)">
                <span class="clickable-text" data-ng-click="module.unconnect(skill.name,subskill)" >{{subskill}}</span>
            </span>   
        </div>
        <div>
            could help:
            <span class="clickable-text" data-ng-repeat="couldAdd in module.couldAdd(skill.name)">
                <span data-ng-click="module.connect(skill.name,couldAdd)" >{{couldAdd}}</span>
            </span>  
        </div>
    </div>

</div>
<input type="text" data-ng-model="module.newSkill" />
<input type="button" value="add" data-ng-click="module.add(module.newSkill)"/>