<link href="modules/wanderer-core-ledger/stylesheet.css" rel="stylesheet" type="text/css" />
<div class="pad-me">
    <input type="button" ng-click="module.SendMessage()" value="Make Some Noise!" />
    <div data-ng-repeat="message in module.messages" >
        <div class="timestamp" > {{message.timestamp}}</div>
        <div class="sender" > {{message.sender}}</div>       
        <div class="text" >{{message.text}}</div>  
    </div> 
    <textarea data-ng-model="module.WrittenMessage" placeholder="text message" class="char-text auto-resize"></textarea>
</div>