<link href="modules/wanderer-core-ledger/stylesheet.css" rel="stylesheet" type="text/css" />
<div class="pad-me">
    <input type="button" ng-click="module.SendMessage()" value="Make Some Noise!" />
    
    <div data-ng-repeat="message in module.messages" >
        <div class="pad-me">
            <div class="messagebox">
                <div class="pad-me">
                    <span class="sender" > {{message.sender}}</span>
                    <span class="text" >{{message.text}}</span>
                </div>
            </div>
        </div>  
    </div> 
    <textarea data-ng-model="module.WrittenMessage" placeholder="text message" class="char-text auto-resize"></textarea>
</div>