<link href="modules/wanderer-core-ledger/stylesheet.css" rel="stylesheet" type="text/css" />

<div class="scroll-length">
    <div data-ng-repeat="displayable in module.displayables" >
        <div class="pad-me">
            {{displayable.getHtml()}}
            <div data-ng-include="displayable.getHtml()" data-ng-init="model = displayable.getModel()"></div>
        </div>  
    </div>
</div>     
<div class="pad-me">  
    <div class="flex"> 
        <textarea 
            data-ng-model="module.WrittenMessage" 
            placeholder="text message" 
            class="message-text auto-resize"></textarea>
        <input
            class="message-send"
            type="button"  
            ng-click="module.SendMessage()" 
            value=">" />
    </div>
</div>