<link href="../scott-levi-cards/card.css" rel="stylesheet" />

<!--players-->
<div ng-show="module.joined" class="pad-me">
    <div data-ng-repeat="player in module.playersInRoom">
        <input type="button" value="Challenge {{player.name}}" ng-click="module.Challenge(player)" />
    </div>
</div>
<!-- challenges -->
<div ng-show="module.joined" class="pad-me ">
    <div data-ng-repeat="challenge in module.challenges">
        <div ng-if="challenge.status == 'Received' || challenge.status == 'Sent'">
            waiting for responce from: <b>{{challenge.challengeeName}}</b>
            <input type="button" value="Revoke" ng-click="module.RevokeChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status== 'Open'">
            <b>{{challenge.challengerName}}</b> wants to play with you:
            <input type="button" value="Play" ng-click="module.AcceptChallenge(challenge)" />
            <input type="button" value="Don't play" ng-click="module.RejectChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status== 'Expired'">
            <b>{{challenge.challengeeName}}</b> could not be reached
            <input type="button" value="Remove" ng-click="module.RemoveChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status == 'Revoked'">
            <b>{{challenge.challengerName}}</b> revoked their challange
            <input type="button" value="Remove" ng-click="module.RemoveChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status == 'Rejected'">
            <b>
                {{challenge.challengerName}}
            </b> rejected your challange
            <input type="button" value="Remove" ng-click="module.RemoveChallenge(challenge)" />
        </div>
    </div>
</div>
<!-- games -->
<div ng-show="module.joined" class="pad-me">
    <div data-ng-repeat="game in module.games">
        <!-- game area starts here -->
        <h3>Game with {{game.oppo}}</h3>        <!-- it knows who your opponent is "game.oppo"-->

        <p>your turn: {{game.IsYourTurn}}</p>  <!-- it knows if it is your opponent is "game.IsYourTurn"-->
        <!--
        so you should have game instead of yourTurn
        this section is all about games
        you can play more than one game at once
        so we put the data for each game in a "game object"
        this game object knows all the stuff about the game

            haha, that will run
            but it will not do what you want
            yep
            you can do what you want
            {{yours}} {{theirs}}

            let's run it!
            cntrl shift s

            or the 2 floppys

            that is just fine
            yeah
    -->

        <!-- 
            
            ok so maybe this is a little complex
            we need to css
            

            -->

        <p>your Tricks: You- {{game.yourTricks}} Them- {{game.yourOppoTricks}}</p>  <!-- and it knows how many tricks you have won "game.tricks"-->
        <div class="card-cards-container discard-pile"> 
            <div data-ng-repeat="message in game.inPlay"
                 class="scott-levi-card-container wrapped-card"
                 ng-init="card = message.card">
                <div class="played-by">
                    <!-- it also knows what cards have been played "game.inPlay"-->
                    <!-- do you want to see where we make this game object? -->
                    <!--
        it is in the JS
        we just set IsYourTurn
        we were setting that on the game object
        -->
                    {{message.playedBy}}
                </div>
                <div ng-include="card.getHtml()">
                </div>
            </div>
        </div>
        <div class="card-cards-container">
            <div ng-repeat="card in game.hand"
                 class="scott-levi-card-container wrapped-card"
                 ng-click="game.play(card)"
                 ng-include="card.getHtml()">
            </div>
        </div>
        <input ng-if="game.alone == false" type="button" value="Leave" ng-click="module.LeaveGame(game)" />
        <div ng-if="game.alone == true">
            <b>
                {{game.oppo}}
            </b> has left the game
            <input type="button" value="Leave" ng-click="module.LeaveAbandonedGame(game)" />
        </div>
        <!-- game area ends here -->
    </div>
</div>
