<!--connect-->
<div ng-show="!module.joined" class="pad-me">
    <center>
        <form>
            <input type="text" ng-model="module.groupName" />
            <input type="submit" value="Join" ng-click="module.Join()" ng-disabled="module.groupName == null" />
        </form>
    </center>
</div>
<!--players-->
<div ng-show="module.joined" class="pad-me">
    <div data-ng-repeat="player in module.playersInRoom">
        <input type="button" value="Challenge {{player.name}}" ng-click="module.Challenge(player)" />
    </div>
</div>
<!-- challenges -->
<div ng-show="module.joined" class="pad-me ">
    <div data-ng-repeat="challenge in module.challenges">
        <div ng-if="challenge.status == 'Received' || challenge.status == 'Sent'">
            waiting for responce from: {{challenge.challengeeName}}
            <input type="button" value="Revoke" ng-click="module.RevokeChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status== 'Open'">
            {{challenge.challengerName}} wants to play with you:
            <input type="button" value="Play" ng-click="module.AcceptChallenge(challenge)" />
            <input type="button" value="Don't play" ng-click="module.RejectChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status== 'Expired'">
            {{challenge.challengeeName}} could not be reached
            <input type="button" value="Remove" ng-click="module.RemoveChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status == 'Revoked'">
            {{challenge.challengerName}} revoked their challange
            <input type="button" value="Remove" ng-click="module.RemoveChallenge(challenge)" />
        </div>
        <div ng-if="challenge.status == 'Rejected'">
            {{challenge.challengerName}} rejected your challange
            <input type="button" value="Remove" ng-click="module.RemoveChallenge(challenge)" />
        </div>
    </div>
</div>
<!-- games -->
<div ng-show="module.joined" class="pad-me">
</div>
