#wanderer-core-save .flex{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#wanderer-core-save .inner-flex {
    display: flex;
}