*.appxupload
*.suo
*.appxrecipe
*.ps1
*.swp
*.swo
*.orig
Wanderer/AppPackages/*
Wanderer/bin/*
Wanderer/bld/*
/Wanderer/AppPackages/*
/Wanderer/bin/*
/Wanderer/bld/*
Wanderer\AppPackages\*
Wanderer\bin\*
Wanderer\bld\*
\Wanderer\AppPackages\*
\Wanderer\bin\*
\Wanderer\bld\*
WandererWebApp\bin\*
WandererWebApp\obj\*
\WandererWebApp\bin\*
\WandererWebApp\obj\*
WandererWebApp/bin/*
WandererWebApp/obj/*
/WandererWebApp/bin/*
/WandererWebApp/obj/*
**/obj/
**/bin/
**/.vs/

Wanderer/www/modules/colin-wielga-dynamo-save/AWSConnector.js
Wanderer/www/modules/colin-wielga-dynamo-save/AWSConnector.js

Wanderer/plugins/browser.json
Wanderer/www/npm-debug.log

Wanderer/build.json
Wanderer/res/native/android/ant.properties
Wanderer/www/scripts/Services/AWSConnectorKeys.js
Wanderer (old)/www/scripts/Services/AWSConnectorKeys.js
Wanderer/simulation/app-host.js
Wanderer/simulation/app-host.json
Wanderer/simulation/sim-host.js
Wanderer/simulation/sim-host.json
/.vs
/WandererWebApp/wwwroot/scripts/Services/AWSConnectorKeys.js
*.dll
*.exe
*.pdb
/WandererWebAPI/obj
/WandererWebAPI/bin/Debug/netcoreapp2.0

**/AWSConnectorKeys.js
/WandererWebApp/wwwroot/.vscode
