/*px are bad bad bad bad! plz fix*/

html, body {
    height: 100%;
    width: 100%;
}

#content {
    overflow-y:auto;
    width: 100%;
    flex: 1 1 auto;
    z-index: 2;
}

#header {
    width: 100%;
    flex: 0 1 auto;
    box-shadow: 0px 0px 20px #666666; 
    z-index: 10;
    background-color: #FFFFFF;
}

#active-page {
    height:100%;
}

/*﻿Rules area*/
.rules-divider {
    padding: 0px 8px 10px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: dashed #333333 1px;
}

.rules-text {
    font-style: italic;
}

.card {
    cursor: pointer;
}

.card-buttons-container {
    padding: 8px 8px 8px 8px;
    border: 0;
    box-shadow: 0 4px 3px gray;
    align-content: center;
}

.positioner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

body {
    top: 0;
    margin: 0;
    padding: 0;
    color: #222;
    font-family: 'Roboto', "Helvetica", serif;
    font-weight: 300;
    background-color: white;
    font-size: 18px;
    height: 100%;
}

#all {
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 2;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently  not supported by any browser */
}

[draggable] {
    user-select: none;
}

.can-select {
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}


.red {
    color: red;
}
/*
    this next section we do stuff with the columns
*/


@media only screen and (min-width:530px) {
    #module-page {
        column-width: 650px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.column {
    vertical-align: top;
    width: 500px;
}

.section {
    page-break-inside: avoid;
    overflow: hidden;
}

.divider {
    page-break-after: always;
    display: none;
}

.mock-section-title {
    visibility: hidden;
}

.section-title, .mock-section-title {
    color: white;
    margin: 0px;
}

.section-header, .divider {
    transition: all 0.3s ease;
    padding: 8px;
    background-color: #333;
    border-radius: 3px 3px 0 0;
    z-index: 5;
}

.section.hidden .section-header {
    border-radius: 3px 3px 3px 3px;
}

.hide-check ~ .section-body {
    -moz-transition: max-height cubic-bezier(1, 0, 1, 0) .4s, opacity linear .4s;
    -o-transition: max-height cubic-bezier(1, 0, 1, 0) .4s, opacity linear .4s;
    -webkit-transition: max-height cubic-bezier(1, 0, 1, 0) 4s, opacity linear .4s;
    transition: max-height cubic-bezier(1, 0, 1, 0) .4s, opacity linear .4s;
    max-height: 20000px;
    transform: translateY(0%);
    overflow-y: hidden;
}

.rules-container {
    background-color: #B2B2B2;
}

/*transform:translateY(-100%);*/
.hide-check:checked ~ .section-body {
    max-height: 0px;
    overflow-y: hidden;
    opacity: 0;
    -moz-transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
    -o-transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
    -webkit-transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
    transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
}


.hide-help-check ~ .rules-container {
    -moz-transition: max-height cubic-bezier(1, 0, 1, 0) .4s, opacity linear .4s;
    -o-transition: max-height cubic-bezier(1, 0, 1, 0) .4s, opacity linear .4s;
    -webkit-transition: max-height cubic-bezier(1, 0, 1, 0) 4s, opacity linear .4s;
    transition: max-height cubic-bezier(1, 0, 1, 0) .4s, opacity linear .4s;
    max-height: 20000px;
    transform: translateY(0%);
    overflow-y: hidden;
}

/*transform:translateY(-100%);*/
/*border-bottom: 0px;*/
.hide-help-check:checked ~ .rules-container {
    max-height: 0px;
    overflow-y: hidden;
    opacity: 0;
    -moz-transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
    -o-transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
    -webkit-transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
    transition: max-height cubic-bezier(0, 1, 0, 1) .4s, opacity linear .4s;
}


/*animation:slideUp 1s linear;*/

.hide-button, .edit-button {
    float: right;
    min-width: 15px;
    text-align: center;
}

.hide-check, .hide-help-check {
    display: none;
}

/*#show-settings:checked*/

/*.write {
	padding: 0px 10px;
}*/

input[type=button].selected-tab, input[type=submit].selected-tab {
    background-color: transparent;
    color: #333;
    padding: 5px 10px;
    font-size: 10pt;
}

#page-tab-container {
    margin: 5px 30px;
}

    #page-tab-container .page-tab {
        display: inline-block;
        margin-right: 8px;
    }

        #page-tab-container .page-tab input {
            display: inline-block;
            float: left;
        }
         
        #page-tab-container .page-tab.page-save {
            vertical-align: 50%;
        }

            #page-tab-container .page-tab input.cannot-close {
                border-radius: 3px;
            }
            

button, label.hide-button, input[type=button], input[type=submit], label.label-button {
    outline: none;
    /*text-transform: lowercase;*/
    cursor: pointer;
    background-color: #333;
    color: white;
    border: 2px solid #333;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 10pt;
    font-weight: bold;
    margin: 2px;
    text-decoration: none;
}

    button.left-part,
    label.hide-button.left-part,
    input[type=button].left-part,
    input[type=submit].left-part,
    label.label-button.left-part {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 0;
    }

    button.right-part,
    label.hide-button.right-part,
    input[type=button].right-part,
    input[type=submit].right-part,
    label.label-button.right-part {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
    }

    button:hover, label.hide-button:hover, input[type=button]:hover, input[type=submit]:hover, label.label-button:hover {
        background-color: #903;
        border-color: #903;
        /*text-transform: lowercase;*/
        /*		border: 1px solid #903;*/
    }

    button:disabled, label.hide-button:disabled, input[type=button]:disabled, input[type=submit]:disabled, label.label-button:disabled {
        background-color: transparent;
        /*        border-color: transparent;*/
        color: #333;
        cursor: default;
        /*text-transform: lowercase;*/
        border: 2px solid #333;
    }

input[type=text], 
input[type=password],
input[type=number],
textarea
 {
    outline: none;
    border: 2px solid #333;
    border-radius: 3px;
    margin: 2px;
}

    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=number]:focus,
    textarea:focus

    {
        border-color: #903;
    }

    input[type=text].right-part,
    input[type=password].right-part,
    input[type=number].right-part,
    textarea.right-part
    {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
    }
    
    input[type=text].left-part,
    input[type=password].left-part,
    input[type=number].left.part,
    textarea.left-part
    {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 0;
    }

/* input[type=text].conjoined-left, input[type=button].conjoined-left, input[type=submit].conjoined-left {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
}

input[type=text].conjoined-right, input[type=button].conjoined-right, input[type=submit].conjoined-right {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
} */

/*input.input-element {
    }*/

select {
    outline: none;
    border: 2px solid #333;
    padding: 5px 10px;
    border-radius: 3px;
}

    select:focus {
        border-color: #903;
    }

.section-body, .fixed-content {
    /*background-color: #DDD;*/
    background-color: #C2C2C2;
    border-radius: 0 0 3px 3px;
    /*border: 2px solid #222;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;*/
    transition: all 0.3s ease;
}

.highlight-section {
    background-color: #A2A2A2;
}

.pad-me {
    padding: 10px 8px;
}

.section, .mock-section { /*#skills-section, #traits-section, #misc-section*/
    /*padding: 30px 0px 20px 0px;*/
    /*margin-top: 50px;*/
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 10px #fff;
    border: 1px solid #333;
    margin-left:5px;
    margin-right:5px;*/
    /*	border: 2px solid #222;*/
}

    .section.hidden .section-body {
        height: 0;
        padding: 0;
        overflow: hidden;
    }

    .section.hidden .edit-button {
        display: none;
    }

ul.element-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /*	background-color: green;*/
    /*	border: 2px solid #222;*/
    /*	border-right: 0px;*/
    /*	border-top: 0px;*/
    /*	border-left: 0px;*/
}

li > div.write {
    margin-top: 5px;
}

li.misc > div.write {
    display: inline;
}

li.skill, li.trait, li.misc, li.item {
    padding: 5px 0px 5px 20px;
    margin: 0px;
    background: #E2E2E2;
    /*background: #DADADA;*/
    /*this unfortunatly does not make the gradients fade in and out */
    /*-webkit-transition: all 0.3s ease;*/
}

    li.skill.highlight, li.trait.highlight, li.misc.highlight, li.item.highlight {
        background: -webkit-linear-gradient(left, #DADADA, #DADADA, #DADADA, #903);
    }

    li.skill:nth-child(odd), li.trait:nth-child(odd), li.misc:nth-child(odd), li.item:nth-child(odd) {
        /*background: #F8F5F6;*/
        background: #EEE;
    }

    li.skill.highlight:nth-child(odd), li.trait.highlight:nth-child(odd), li.misc.highlight:nth-child(odd), li.item.highlight:nth-child(odd) {
        background: -webkit-linear-gradient(left, #F8F5F6, #F8F5F6, #F8F5F6, #903);
    }





li {
    margin: 10px 0px;
}

.char-text {
    width: calc(100% - 8px);
    overflow: hidden;
    /*resize: vertical; oh edge you bastard what am i going to do...*/
}
/*
#all.play .write {
	
	display: none;
}

#all.write .play {
	display: none;
}*/

.section.play .write {
    /*we can have styling for when we are in play*/
    display: none;
}

.section.write .play {
    /*or when we are in write mode*/
    display: none;
}

.counter-name {
    width: 100px;
    display: inline-block;
}

.roll-results {
    border: 2px solid #222;
    border-radius: 3px;
    background-color: #fff;
}

.roll-result {
    width: 10%;
    transition: all 0.3s ease;
    border-color: #000000;
    padding-right: 10px;
    text-align: right;
}

    .roll-result.active {
        width: 90%;
    }

.rolling .roll-result {
    width: 25%;
    border-right-width: 2px;
    border-right-style: solid;
}

    .rolling .roll-result.active {
        width: 50%;
    }

#traits-section, .tip, #goals-section { /*#cards-section, */
    display: none;
}

/* NPCs section */

table {
    width: 100%;
}


.ng-enter {
    transition: .5s;
    opacity: 0;
}

.ng-enter-active {
    opacity: 1;
}

.ng-leave {
    transition: .5s;
    opacity: 1;
}

.ng-leave-active {
    opacity: 0;
}


.clickable-text:hover {
    text-decoration: underline;
}

#footer {
    width: 100%;
}

    #footer h1 {
        font-size: 400%;
        text-align: right;
        margin: 0 2em;
        color: #E0E0E0;
    }

.notification {
    background-color:#696969;
    color: #FFFFFF;
    display: flex;  
}

.notification-message {
    flex-grow: 1;
}