<link rel="stylesheet" type="text/css" href="modules/dc-humours-player-questions/stylesheet.css">
<div id="tabs_bar">
    <div data-ng-repeat="section in module.questionlist"
         data-ng-class="{selected: module.questionlist.indexOf(section) === module.current_tab}">
        <button data-ng-click="module.changeTab(section)"> {{section.name}} </button>
    </div>
</div>
<div id="all_questions">
    <div data-ng-repeat="question in module.getQuestionlistForTab()">
        <p data-ng-bind="question.q"></p>
        <input type="textarea" data-ng-model="question.a"></input>
    </div>
</div>
