/* Tabs Bar */
#dc-humours-player-questions #tabs_bar{
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

#dc-humours-player-questions #tabs_bar button{
    height: 100%; 
}

#dc-humours-player-questions #tabs_bar div.selected button,
#dc-humours-player-questions .question_binary_choice button.selected{
    background-color: #888;
    border-style: solid; 
}

/* Questions and Answers */
#dc-humours-player-questions #all_questions{
    margin: 0.5em;
}

    #dc-humours-player-questions #all_questions div {
        max-width: 95%;
    }

    #dc-humours-player-questions #all_questions div ul {
        max-width: 100%;
    }

#dc-humours-player-questions #all_questions > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0.5em 1.5em;
}

#dc-humours-player-questions #all_questions .question{
    font-weight: bold;
}

#dc-humours-player-questions #all_questions .question,
#dc-humours-player-questions #all_questions .question_details{
    width: 75%; 
    margin: 0.25em;
}

#dc-humours-player-questions .question_binary_choice{
    display: flex;
    max-width: 100%;
}
#dc-humours-player-questions .question_binary_choice > span{
    align-self: center;
    margin: auto 0.5em;
}

#dc-humours-player-questions .question_choices ul{
    list-style-type: none;
}
#dc-humours-player-questions .question_choices li{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    font-size: small;
}
#dc-humours-player-questions .question_choices li.selected{
    background-color: #888;
}

#dc-humours-player-questions #all_questions textarea{
    resize: none;
    height: 7em;
    width: 30em;
}
