<link rel="stylesheet" type="text/css" href="modules/colin-wielga-cards/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="modules/colin-wielga-cards/humours_stylesheet.css">
<div class="card-buttons-container pad-me highlight-section">
    <center>
        <button data-ng-click="module.draw()"> draw </button>
    </center>
</div>
<div class="card-cards-container">
    <center>
        <div data-ng-repeat="cardID in module.hand" class="card-container">
            <div data-ng-include="module.getCard(cardID).getHtml()"></div>
        </div>
    </center>
</div>

