#table h2 {
    flex: 0 1 auto;
}

#table .table-top {
    flex: 1 1 auto;
    background-color: whitesmoke;
    overflow: hidden;
    position: relative;
    background-color: rgba(#fff, .5);
    background-image: linear-gradient(#d95d16 2px, transparent 2px), linear-gradient(90deg, #d95d16 2px, transparent 2px), linear-gradient(rgba(150, 150, 150, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(150, 150, 150, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.testbox {
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
    position: absolute;
}