<link rel="stylesheet" type="text/css" href="scripts/Pages/Table/TableStyle.css" />

<div id="table">
    <div class="side-bar">
        <input type="button" value="Zombie" ng-click="activePage().getController().addZombie()" />
        <input type="button" value="Boss Monster" ng-click="activePage().getController().addBossMonster()" />
        <input type="text" ng-model="activePage().getController().labelText" placeholder="Label" />
        <input type="button" value="Label" ng-click="activePage().getController().addLabel()" />
        <input type="button" value="Black Pen" ng-click="activePage().getController().activateDrawTool('#000000')" ng-disabled="activePage().getController().drawTool && activePage().getController().color === '#000000'" />
        <input type="button" value="Red Pen" ng-click="activePage().getController().activateDrawTool('#ff0000')" ng-disabled="activePage().getController().drawTool && activePage().getController().color === '#ff0000'" />
        <input type="button" value="Yellow Pen" ng-click="activePage().getController().activateDrawTool('#ffff00')" ng-disabled="activePage().getController().drawTool && activePage().getController().color === '#ffff00'" />
        <input type="button" value="Blue Pen" ng-click="activePage().getController().activateDrawTool('#0000ff')" ng-disabled="activePage().getController().drawTool && activePage().getController().color === '#0000ff'" />
        <input type="button" value="Magenta Pen" ng-click="activePage().getController().activateDrawTool('#ff00ff')" ng-disabled="activePage().getController().drawTool && activePage().getController().color === '#ff00ff'" />
        <input type="button" value="Eraser" ng-click="activePage().getController().activateEraseTool()" ng-disabled="activePage().getController().eraseTool" />
        <input type="button" value="Clear Table" ng-click="activePage().getController().removeAll()" />
    </div>
    <div class="table-top">
        <div class="table-cloth" id="hacky-hacky-hack-hack">
            <div data-ng-repeat="tableObject in activePage().getController().tableObjects()"
                 id="miniature-{{tableObject.miniatureId}}"
                 class="testbox"
                 ng-drag="true"
                 ng-drag-stop="tableObject.onDragComplete($data,$event)"
                 ng-drag-start="tableObject.onDragStart($data,$event)"
                 ng-drag-move="tableObject.onDragMove($data,$event)"
                 ng-style="{left: tableObject.x() ,top: tableObject.y() }">
                <input type="button" value="❌" ng-click="activePage().getController().remove(tableObject)" />
                <div ng-include="tableObject.getHtml()"></div>
            </div>
            <canvas 
                id="canvas" 
                ng-mousedown="activePage().getController().mouseDown($event)" 
                ng-mousemove="activePage().getController().mouseOver($event)" 
                ng-mouseup="activePage().getController().mouseUp($event)">
            </canvas>
        </div>
    </div>
</div>