<div class="pad-me">

    <div data-ng-repeat="alignment in module.getAlignments()">
        <div style="width:200px; display:inline-block;">
           {{alignment.name}}
        </div>
        <input data-ng-disabled="alignment.weight <= 0" type="button" value="-" data-ng-click="alignment.weight=alignment.weight-1" />
        <input data-ng-disabled="alignment.weight >= alignment.maxWeight" type="button" value="+" data-ng-click="alignment.weight=alignment.weight+1" />
        <div style="width:{{alignment.weight*50}}px; background-image: linear-gradient(90deg, #333 45px, transparent 5px);background-size: 50px 50px; display:inline-block;">
            <span style="visibility:hidden">shhh</span>
        </div>
    </div>
</div>