#colin-lomb-skills .bar {
    background-image: linear-gradient(90deg, #000 2px, transparent 2px), linear-gradient(90deg, #fff 1px, transparent 1px);
    background-size: 50px 50px, 5px 5px;
    background-position: -2px -2px, -2px -2px;
}

#colin-lomb-alignment .alignment {
    background-size: cover;
    width: 200px;
    border-radius: 3px;
    
}

