<link rel="stylesheet" type="text/css" href="modules/scott-levi-pathfinder-2e/stylesheet.css" />


<div class="pad-me">
    <input type="button" ng-click="module.gen()" value="Generate!" />
    <br />
    <h3>{{module.firstName}} {{module.lastName}}</h3>
    <span class="category">Background: </span>{{module.background}}<br />
    <span class="category">Ancestry: </span>{{module.ancestry}}<br />
    <span class="category">Class: </span>{{module.charClass}}<br />
    <span class="category">Level: </span>{{module.characterLevel}}<br />
    <span class="category">Spells: </span><br />
    <ol>
        <li ng-repeat="spell in module.characterSpellList">
            {{spell.spell}}
        </li>
    </ol>
</div>