<!DOCTYPE html>
<html data-ng-app="wandererApp">
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; connect-src 'self' https://dynamodb.us-east-1.amazonaws.com/ https://email.us-east-1.amazonaws.com/ https://cdn.jsdelivr.net/ https://wandererwebapp.azurewebsites.net/ https://wanderersignalr.service.signalr.net:5001/ wss://wanderersignalr.service.signalr.net:5001/">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="External/textAngular.css">
    <link href="External/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <!-- module css -->
    <!--<link href="modules/colin-wielga-cards/stylesheet.css" rel="stylesheet" />-->
    <!--    <link rel="stylesheet" type="text/css" href="css/newStyle.css">-->
    <title>Wanderer</title>

    <!-- externals -->
    <script src="External/jquery-3.1.0.min.js"></script>
    <script src="External/angular.min.js"></script>
    <script src="External/ngDraggable.js"></script>
    <script src="External/textAngular-rangy.min.js"></script>
    <script src="External/textAngular-sanitize.min.js"></script>
    <script src="External/textAngular.min.js"></script>
    <script src="External/aws-sdk.js"></script>
    <script src="External/d3.v4.min.js"></script>
    <script src="External/SignalR/signalr.js"></script>
</head>
<body data-ng-controller="wandererController">
    <div id="all">
        <div id="header">
            <div id="page-tab-container">
                <div class="page-tab" data-ng-repeat="page in Pages">
                    <input
                        class="left-part"
                        data-ng-class="{'can-close':page.canClose(), 'cannot-close':!page.canClose()}"
                        data-ng-disabled="Selected(page)"
                        data-ng-click="Select(page)"
                        value="{{page.displayName()}}"
                        type="button"
                    />
                    <input
                        class="right-part"
                        data-ng-show="page.canClose()"
                        data-ng-click="Close(page)"
                        value="x"
                        type="button"
                    />
                </div>
            </div>
        </div>
        <div id="content">
            <div data-ng-include="activePage().getHmtl()"></div>
        </div>
        <div id="footer">
            <h1>wanderer</h1>
        </div>
    </div>

    <!-- hack? atleast very ugly -->
    <p style="visibility:hidden">{{onUpdate()}}</p>

    <scripts>
        <!-- cordova stuff goes first -->
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="scripts/platformOverrides.js"></script>
        <script type="text/javascript" src="scripts/appBundle.js"></script>

        <!-- some stuff the modules need -->
        <script src="scripts/g.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/ComponetRegistry.js"></script>
        <!-- models -->
        <script src="scripts/Models/Account.js"></script>

        <script src="scripts/Pages/ExposedPage.js"></script>

        <!-- services -->
        <script src="scripts/Services/AccountService.js"></script>
        <script src="scripts/Services/AWSConnectorKeys.js"></script>
        <script src="scripts/Services/AWSConnector.js"></script>
        <script src="scripts/Services/CharacterService.js"></script>
        <script src="scripts/Services/PageService.js"></script>
        <script src="scripts/Services/ComponetService.js"></script>
        <script src="scripts/Services/TimeoutService.js"></script>
        <script src="scripts/Services/SignalRService.js"></script>

        <!-- pages -->
        <script src="scripts/Pages/Character/CharacterPage.js"></script>
        <script src="scripts/Pages/Character/CharacterController.js"></script>
        <script src="scripts/Pages/Main/StartPage.js"></script>
        <script src="scripts/Pages/Main/StartController.js"></script>
        <script src="scripts/Pages/Error/ErrorController.js"></script>
        <script src="scripts/Pages/Error/ErrorPage.js"></script>
        <script src="scripts/Pages/Loading/LoadingController.js"></script>
        <script src="scripts/Pages/Loading/LoadingPage.js"></script>
        <script src="scripts/Pages/Wiki/WikiController.js"></script>
        <script src="scripts/Pages/Wiki/WikiPage.js"></script>

        <!-- modules -->
        <!--<script src="modules/wanderer-core-logger/script.js"></script>-->
        <script src="modules/wanderer-core-save/script.js"></script>
        <script src="modules/wanderer-core-modules/script.js"></script>
        <script src="modules/colin-wielga-skill-web/script.js"></script>
        <script src="modules/colin-wielga-cards/namespace.js"></script>
        <script src="modules/colin-wielga-cards/Deck.js"></script>
        <script src="modules/colin-wielga-cards/Card.js"></script>
        <script src="modules/colin-wielga-cards/TitanagonCard.js"></script>
        <script src="modules/colin-wielga-cards/HumoursCard.js"></script>
        <script src="modules/colin-wielga-cards/script.js"></script>
        <script src="modules/scott-levi-cards/namespace.js"></script>
        <script src="modules/scott-levi-cards/Deck.js"></script>
        <!--<script src="modules/wanderer-core-activities/script.js"></script>-->
        <script src="modules/scott-levi-cards/script.js"></script>
        <script src="modules/scott-levi-cards/tarotCard.js"></script>
        <script src="modules/scott-levi-npc-gen/script.js"></script>
        <script src="modules/scott-levi-rules/script.js"></script>
        <script src="modules/colin-wielga-description/script.js"></script>
        <script src="modules/colin-wielga-hp/script.js"></script>
        <script src="modules/colin-wielga-counters/script.js"></script>
        <script src="modules/colin-wielga-notes/script.js"></script>
        <script src="modules/colin-wielga-roll/roll.js"></script>
        <script src="modules/colin-wielga-roll/script.js"></script>
        <script src="modules/colin-wielga-tools/script.js"></script>
        <script src="modules/manuchehr-aminian-dice/dice.js"></script>
        <script src="modules/tote-hughes-titanagon-cards/TitanagonCard.js"></script>
        <script src="modules/tote-hughes-titanagon-cards/script.js"></script>
        <script src="modules/tote-hughes-questions/Questions.js"></script>
        <script src="modules/tote-hughes-questions/script.js"></script>
        <script src="modules/tote-hughes-skill-web-graph/script.js"></script>
        <script src="modules/dc-humours-sliders/script.js"></script>
        <script src="modules/dc-humours-advancements/script.js"></script>
        <script src="modules/dc-humours-player-questions/script.js"></script>
        <!-- <script src="modules/dc-pbta-moves/script.js"></script> -->
        <script src="modules/dc-humours-moves/script.js"></script>
        <script src="modules/dc-pbta-countdowns/script.js"></script>
        <script src="modules/dc-pc-relationships-debt/script.js"></script>
        <script src="modules/dc-list-reputations/script.js"></script>
        <script src="modules/core-start-add-character/script.js"></script>
        <script src="modules/core-start-recent-characters/script.js"></script>
        <script src="modules/core-start-switch-account/script.js"></script>
        <script src="modules/core-start-recover-account/script.js"></script>
        <script src="modules/core-start-account-settings/script.js"></script>
        <script src="modules/chris-qual-outcomes/script.js"></script>
        <!-- stuff that goes after the modules -->
        <script src="scripts/wandererController.js"></script>
    </scripts>

</body>
</html>
