<div data-ng-repeat="charId in module.characterList">
    {{module.getCharName(charId)}}
    <input type="button" value="load" data-ng-click="module.Load(charId)" />
    <input type="button" value="delete" data-ng-click="module.Delete(charId)" />
</div>
<input id="addButton" type="button" name="new" value="New" data-ng-click="module.newCharacter()" />
<input type="text" placeholder="untitled" data-ng-model="module.saveAs" />
<input type="button" name="new" value="Save" data-ng-click="module.save()" />
<textarea data-ng-model="module.json" class="char-text auto-resize"></textarea>
<input type="button" name="new" value="Save Json" data-ng-click="module.saveJson()" />
