<link rel="stylesheet" type="text/css" href="modules/dc-humours-advancements/stylesheet.css">
<div data-ng-repeat="humour in module.advancements">
    <h3 data-ng-class="humour.humour">{{humour.label}}</h3>
    <h4>PC Advancements:</h4>
    <div data-ng-repeat="adv in module.getAdvs(humour.pc_advs)">
        <span 
            data-ng-click="module.toggleTaken(humour.pc_advs, adv)"
            data-ng-class="{selected: humour.pc_advs[adv]}">
            {{adv}}
        </span>
    </div>
    <h4>MC Advancements:</h4>
    <div data-ng-repeat="adv in module.getAdvs(humour.mc_advs)">
        <span 
            data-ng-click="module.toggleTaken(humour.mc_advs, adv)"
            data-ng-class="{selected: humour.mc_advs[adv]}">
            {{adv}}
        </span>
    </div>
</div>
