#dc-humours-advancements .all-humours-container{
    margin: 15px;
}

/* Humour Section Title Box */
#dc-humours-advancements .humour-section-title{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#dc-humours-advancements .blood{
    color: hsl(0, 95%, 35%);
}
#dc-humours-advancements .yellowbile{
    color: hsl(45, 95%, 30%);
}
#dc-humours-advancements .blackbile{
    color: hsl(270, 95%, 15%);
}
#dc-humours-advancements .phlegm{
    color: hsl(130, 95%, 25%);
}

/* Humour Section List Contents */
#dc-humours-advancements li{
/*    list-style-type: none;*/
}

#dc-humours-advancements span{
    color: rgba(0,0,0,1);
    cursor: pointer;
}

#dc-humours-advancements span.selected{
    color: rgba(0,0,0,0.5);
    text-decoration: line-through;
    cursor: pointer;
}
