<link rel="stylesheet" type="text/css" href="modules/dc-pbta-moves/stylesheet.css">
<button data-ng-click="module.showNewMovePanel = !module.showNewMovePanel">+</button>
<div data-ng-show="module.showNewMovePanel">
    Title:<input type="text" data-ng-model="module.newmove.title"></input>
    </br>
    <span>
        <input id="leadin-input" type="text" data-ng-model="module.newmove.leadin"></input><input id="trigger-input" type="text" data-ng-model="module.newmove.trigger"></input>
    </span>
    <div text-angular 
        ta-toolbar="[['p', 'bold', 'italics', 'underline', 'ul', 'ol', 'undo', 'redo']]" 
        data-ng-model="module.newmove.effect">
    </div>
    <button data-ng-click="module.addNewMove()">Add</button>
</div>
<div>
    <div data-ng-repeat="move in module.moveslist">
        <h3>{{move.title}}</h3>
        <span data-ng-bind-html="module.getMoveBody(move)"> </span>
    </div>
</div>
