<link rel="stylesheet" type="text/css" href="modules/dc-pbta-moves/stylesheet.css">
<button data-ng-click="module.showNewMovePanel = !module.showNewMovePanel">+</button>
<div data-ng-show="module.showNewMovePanel">
    Title:<input type="text" data-ng-model="module.newmove.title"></input>
    </br>
    <input type="text" data-ng-model="module.newmove.leadin"></input>
    </br>
    <input type="text" data-ng-model="module.newmove.trigger"></input>
    </br>
    <div text-angular data-ng-model="module.newmove.effect"></div>
    <button data-ng-click="module.addNewMove()">Add</button>
</div>
<div>
    <div data-ng-repeat="move in module.moveslist">
        <h3>{{move.title}}</h3>
        {{move.leadin}} <b>{{move.trigger}}</b> 
        <span data-ng-bind-html="move.effect"> </span>
    </div>
</div>
