#dc-pbta-moves strong, b{
    font-weight: bold;
}

/* Tabs Bar */
#dc-pbta-moves #tabs_bar{
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

#dc-pbta-moves #tabs_bar div.selected button{
    background-color: #888;
    border-style: solid; 
}

#dc-pbta-moves #all_moves{
    max-height: 80vh;
    overflow-y: auto;
}

#dc-pbta-moves #all_moves > div,
#dc-pbta-moves #add-move-section{
    margin: 0.5em;
}

#dc-pbta-moves #add-move-button{
    width: 100%;
}
#dc-pbta-moves #all_moves .section-header{
    opacity: 0.75;
}

#dc-pbta-moves .edit-move-panel,
#dc-pbta-moves #all_moves .move-body{
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-top-style: none;

    padding: 0.5em;
}

#dc-pbta-moves .edit-button{
    float: right;
    padding: 0;
}

/* Add Moves Section Fields */
#dc-pbta-moves .delete-confirmation-buttons span{
    color: #FFF;
    float: right;
    margin: 3px;
}

#dc-pbta-moves .title-span,
#dc-pbta-moves .title-input{
    font-size: 1.5em;
}
#dc-pbta-moves .small-inputs{
    display: flex;
}
#dc-pbta-moves .leadin-input{
    width: 6em;
    flex-basis: auto;
    flex-grow: 1;
}
#dc-pbta-moves .trigger-input{
    font-weight: bold;
    flex-grow: 5;
}
#dc-pbta-moves .effect-input-editarea{
    background: #FFF;
    border: 2px solid #222;
    border-radius: 3px;
    margin: 2px;
    outline: medium none;
}
