<link rel="stylesheet" type="text/css" href="modules/colin-lomb-dm-cards/stylesheet.css" />
<div class="pad-me highlight-section">
    <center>
        <button data-ng-click="module.draw()"> draw </button>
    </center>
</div>
<div class="pad-me">
    <div data-ng-repeat="card in module.hand" class="pad-me">
        <div class="card pad-me" data-ng-click="module.discard(card)">
            <div>
                <h3>Public</h3>
                <div data-ng-repeat="outcome in card.publicOutcomes">
                    {{module.getDC(outcome)}}: {{outcome.result}}
                </div>
            </div>
            <div class="alignRight">
                <h3>Private</h3>
                <div data-ng-repeat="outcome in card.privateOutcomes">
                    {{outcome.result}}: {{module.getDC(outcome)}}
                </div>
            </div>                        
        </div>
    </div>
</div>

