<link rel="stylesheet" type="text/css" href="modules/colin-lomb-cards/stylesheet.css" />
<div class="pad-me highlight-section">
    <center>
        <button data-ng-click="module.draw()"> draw </button>
    </center>
</div>
<div class="pad-me">
    <div data-ng-repeat="card in module.hand" class="pad-me">
        <div class="card" data-ng-click="module.discard(card)">
            <span class="pad-me number">{{card.value}}</span>
            <span class="pad-me text">{{card.text}} </span>
            <div class="image" back-img="modules/colin-lomb-alignment/images/{{card.image}}.jpg"></div>
        </div>
    </div>
</div>

