<link rel="stylesheet" type="text/css" href="modules/colin-wielga-cards/stylesheet.css" />
<div class="pad-me highlight-section">
    <center>
        <button data-ng-click="module.draw()"> draw </button>
    </center>
</div>
<div class="pad-me">
    <div data-ng-repeat="card in module.hand" class="pad-me">
        
            <span>
                <input type="button" value="discard" data-ng-click="module.discard(card)" />
            </span>
            <span> {{card.value}}</span>
            <span> {{card.text}}</span>
    </div>
</div>

