<link rel="stylesheet" type="text/css" href="modules/scott-levi-cloud-questionnaires/stylesheet.css"/>
    <div class="pad-me highlight-section">
        <center>
            <button data-ng-click="module.draw()"> draw </button>
        </center>
    </div>
    <div class="pad-me">
        <div data-ng-repeat="card in module.hand" class="pad-me">
            <div class="card pad-me" data-ng-click="module.discard(card)">
            odds of success {{card.success}}
            odds of failure {{card.failure}}
            odds of indeterminate {{card.indeterminate}}
            </div>
        </div>
    </div>
    <div class="form pad-me">
    <h3>Earth Immigration Forms(accurate)</h3>
    <ul>
        <li>Name and describe your planet of origin.</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion1"></textarea>
        <li>Describe your species' biology, how you are unique from your fellows?</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion2"></textarea>
        <li>How have you been making a living for the past several years?</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion3"></textarea>
    </ul>
    <h3>Alcatraz [massively redacted] Paperwork</h3>
    <ul>
        <li>Describe in detail the last time you were in Atlantis?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion1"></textarea>
        <li>What are your weaknesses (not answering this question will result in vivisection)?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion2"></textarea>
        <li>Why are you in a maximum security prison on the West Coast for extraterrestrials?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion3"></textarea>
    </ul>
    <h3>Anything else we should know?</h3>
    <ul>
        <li> </li>
        <textarea data-ng-model="module.cloudTaskForceQuestion1"></textarea>
    </ul>
    </div>
</div>    
    