<div class="pad-me typewriter char-text auto-resize">
    <h2>Immigration Forms</h2>
    <ul>
        <li>Name and describe your planet of origin?</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion1"></textarea>
        <li>What have you been doing for the past 10 years?</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion2"></textarea>
        <li>What is your medical history?</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion3"></textarea>
    </ul>
    <h2>Prison Paperwork</h2>
    <ul>
        <li>Have you ever killed anyone, or witnessed the death of someone?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion1"></textarea>
        <li>How do the guards keep you restrained?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion2"></textarea>
        <li>Why are you in a maximum security prison for extraterrestrials?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion3"></textarea>
    </ul>
    <h2>Task Force Questionnaire</h2>
    <ul>
        <li>Do you have any military experience?</li>
        <textarea data-ng-model="module.cloudTaskForceQuestion1"></textarea>
        <li>Have you had any experiences with the paranormal?</li>
        <textarea data-ng-model="module.cloudTaskForceQuestion2"></textarea>
        <li>Why should the United States Government release you to assist the war effort?</li>
        <textarea data-ng-model="module.cloudTaskForceQuestion3"></textarea>
    </ul>
    
    