<link rel="stylesheet" type="text/css" href="modules/scott-levi-cloud-questionnaires/stylesheet.css"/>
    <div class="pad-me highlight-section">
        <center>
            <button data-ng-click="module.draw()"> draw </button>
        </center>
    </div>
    <div class="pad-me">
        <div data-ng-repeat="card in module.hand" class="pad-me">
            <div class="card pad-me" data-ng-click="module.discard(card)">
            odds of success {{card.success}}
            odds of failure {{card.failure}}
            odds of indeterminate {{card.indeterminate}}
            </div>
        </div>
    </div>
    <h2>Earth Immigration Forms</h2>
    <ul>
        <li>Name and describe your planet of origin.</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion1"></textarea>
        <li>Describe your species' biology, and how you are unique.</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion2"></textarea>
        <li>How have you been making money for the past several years?</li>
        <textarea data-ng-model="module.cloudImmigrationQuestion3"></textarea>
    </ul>
    <h2>Alcatraz Paperwork</h2>
    <ul>
        <li>When was the last time you were in Atlantis? (*All alien life came to Earth via a worm hole in Atlantis.*)</li>
        <textarea data-ng-model="module.cloudPrisonQuestion1"></textarea>
        <li>What is your weakness?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion2"></textarea>
        <li>Why are you in a maximum security prison for extraterrestrials?</li>
        <textarea data-ng-model="module.cloudPrisonQuestion3"></textarea>
    </ul>
    <h2>(*Make up three passenger NPCs. The CM will randomly assign one from the whole party to be a bad guy, if it's yours, you roleplay one of the baddies.*) </h2>
    <ul>
        <li> </li>
        <textarea data-ng-model="module.cloudTaskForceQuestion1"></textarea>
        <li> </li>
        <textarea data-ng-model="module.cloudTaskForceQuestion2"></textarea>
        <li> </li>
        <textarea data-ng-model="module.cloudTaskForceQuestion3"></textarea>
    </ul>
</div>    
    