<link rel="stylesheet" type="text/css" href="modules/tote-flosfulgur-phlossi/stylesheet.css" />
<div class="pad-me">
    <div id="phlossi-container">
	    <div id="phlossi-title-container">
	        <div class="phlossi-title">{{module.getPhlossiTitle()}}</div>
	        <div class="phlossi-subtitle">{{module.getPhlossiSubtitle()}}</div>
	    </div>
		<div id="phlossi-surface-container">
			<div id="phlossi-surface">
				<!-- <div class="phlossi-error-container" ng-show="!module.joined" class="pad-me">
				    <span class="phlossi-error">Not in a game ...</span>
				</div> -->
				<div style="margin: auto; display: flex; justify-content: center; margin-top:20px;">
				<div class="phlossi-poly-previous-container">
					<div data-ng-include="module.getPreviousPhlossiPoly().getHtml()" ng-if="true" data-ng-init="modelTag = 'previous'"></div>
				</div>
				<div class="phlossi-poly-operation-container">
					<div><span>+</span></div>
				</div>
				<div class="phlossi-poly-played-container">
					<div data-ng-include="module.getPlayedPhlossiPoly().getHtml()" ng-if="true" data-ng-init="modelTag = 'played'"></div>
				</div>
				</div>
				<div class="phlossi-poly-current-container">
					<div data-ng-include="module.getCurrentPhlossiPoly().getHtml()" ng-if="true" data-ng-init="modelTag = 'current'"></div>
				</div>
				<div class="phlossi-challenge-container" ng-show="module.currentChallenge.id != ''">
					<div class="phlossi-challenge-title-container">Challenge:</div>
					<div class="phlossi-poly-challenge-container">
						<div data-ng-include="module.getChallengePhlossiPoly().getHtml()" ng-if="true" data-ng-init="modelTag = 'challenge'"></div>
					</div>
					<div class="phlossi-challenge-text-container">
						&lt;--&nbsp;&nbsp;{{module.currentChallenge.text}}
					</div>
					<!-- <div data-ng-include="module.getCurrentChallenge().getHtml()" x="{{model = module.getCurrentChallenge()}}"></div> -->
				</div>
			</div>
		</div>
	</div>
</div>
