
#scott-levi-cards .card {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto', 'Helvetica', serif;
    margin: 10px;
    width: 200px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    border: solid black 2px;
    -moz-transition: box-shadow ease 1s;
    -o-transition: box-shadow ease 1s;
    -webkit-transition: box-shadow ease 1s;
    transition: box-shadow ease 1s;
    transition: left ease .6s;
    left: 0px;
    top: 0px;
}

#scott-levi-cards .wrapped-card.draggable .card {
    cursor: grab;
}

    #scott-levi-cards .card:hover {
        box-shadow: 0px 0px 20px -2px black;
        border-radius: 10px 10px 0px 0px;
    }

    #scott-levi-cards .card.dragging:hover {
        border-radius: 10px;
    }

    #scott-levi-cards .card:hover .card-border {
        border-radius: 5px 5px 0px 0px;
    }

    #scott-levi-cards .card.dragging:hover .card-border {
        border-radius: 5px;
    }

    #scott-levi-cards .card:hover .card-number-container {
        display: none;
    }

    #scott-levi-cards .card.dragging:hover .card-number-container {
        display: block;
    }



#scott-levi-cards .card-color-dark {
    background-color: #111;
}

﻿#scott-levi-cards .classic-card .card-name, #scott-levi-cards .classic-card .card-number, #scott-levi-cards .classic-card .card-ability {
    text-shadow: 0 0 3px #000;
}

#scott-levi-cards .classic-card .card-border {
    border: 0;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
}

#scott-levi-cards .classic-card .card-number {
    padding-top: 10px;
    padding-bottom: 10px;
}

#scott-levi-cards .classic-card .card-number-container {
    padding-top: 100px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3), rgba(0,0,0,.4));
}

#scott-levi-cards .classic-card .card-padding {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}


#scott-levi-cards div.card-container {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 370px;
    margin-left: -80px;
}


#scott-levi-cards .card-info-container {
    display: none;
    position: absolute;
    margin-top: 2px;
    left: -2px;
    width: 188px;
    background-color: #A2A2A2;
    border-radius: 0px 0px 10px 10px;
    border-left: solid black 8px;
    border-right: solid black 8px;
    border-bottom: solid black 8px;
    box-shadow: 0px 2px 20px -2px black;
}

#scott-levi-cards .card:hover .card-info-container {
    display: inline-block;
    z-index: 99;
}


#scott-levi-cards .card-container {
    left: 0px;
    -moz-transition: left ease .4s;
    -o-transition: left ease .4s;
    -webkit-transition: left ease .4s;
    transition: left ease .4s;
}

    #scott-levi-cards .card-container:hover ~ .card-container {
        left: 70px;
    }

    #scott-levi-cards .card-container.dragging:hover ~ .card-container {
        left: 0px;
    }

/*#scott-levi-cards .card-container:hover + .card-container + .card-container{
            left: 25px;
        }

            #scott-levi-cards .card-container:hover + .card-container + .card-container + .card-container {
                left: 5px;
            }*/

.played-by {
    background-color: white;
    z-index: 10;
    position: absolute;
    padding: 2px;
    border-radius: 2px;
    border: 2px black solid;
}

#scott-levi-cards .card-border {
    margin: 5px;
    width: 188px;
    height: 338px;
    border-radius: 5px;
    background: center;
}

#scott-levi-cards div.card-number-container {
    overflow: auto;
    height: 125px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    /*	padding: 0 5px 5px 5px;*/
}

#scott-levi-cards div.card-name-container {
    height: 50px;
    position: relative;
    margin: 0 auto;
}

#scott-levi-cards span.card-name {
    display: inline-block;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 3px;
    font-size: 20px;
    text-transform: uppercase;
}

#scott-levi-cards span.card-number {
    display: inline-block;
    color: white;
    width: 100%;
    margin: auto;
    font-size: 60px;
    line-height: 40px;
}

#scott-levi-cards span.card-ability {
    display: inline-block;
    margin-top: 1px;
    color: white;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}


#scott-levi-cards .wrapped-card {
    position: relative;
}
