<link rel="stylesheet" type="text/css" href="modules/scott-levi-cards/stylesheet.css"/>

<div class="card-buttons-container pad-me highlight-section">
    <center>
        ﻿       <button data-ng-click="module.draw()"> draw </button>
        <label class="label-button" for="setting-hide">modify deck</label>
    </center>
</div>
<h3>Hand:</h3>
<div class="card-cards-container">
    <center>
        <div data-ng-repeat="cardID in module.hand" class="card-container">
            <div class="wrapped-card" data-ng-include="module.getCard(cardID).getHtml()"></div>
        </div>
    </center>
</div>
<h3>In Play:</h3>
<div class="card-cards-container" 
     ng-drop="true" 
     ng-drop-success="module.drop($data,$event)" >
    <center>
        <div data-ng-repeat="cardID in module.inPlay" class="card-container">
            <div class="wrapped-card" data-ng-include="module.getCard(cardID).getHtml()"></div>
        </div>
    </center>
</div>
<input type="checkbox" class="hide-check" id="setting-hide" checked/>
<div class="deck-container-outer">
    <div class="rules-divider"></div>
    <div class="deck-container">
        <label for="decks"> Repeat select: </label>
        
            <select id="decks" data-ng-options="deck as deck.name for deck in module.decklist"
                    data-ng-model="module.selectedDeck" data-ng-change="module.deckSelected()"
                    ></select>
            <!--<select name="repeatSelect"  data-ng-model="module.selectedDeck"><option data-ng-repeat="deck in module.decklist" data-ng-value="deck.name">{{deck.name}}</option>
        </select>-->
        <div data-ng-repeat="cardID in module.possibleCards()" class="card-in-deck card-in-deck-{{module.inDeck(cardID)}}" data-ng-click="module.toggleCardActive(cardID)">
            {{module.getCard(cardID).name}}
        </div>
    </div>
</div>

