/* Things for all cards */
#scott-levi-cards h3 {
    text-align: center;
}

#scott-levi-cards div.card-cards-container-container {
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 3px gray;
}

#scott-levi-cards div.card-cards-container {
    margin-top: 8px;
    margin-left: 80px;
}

#scott-levi-cards div.empty-add {
    height: 100px;
    border-top: 1.5px dashed gray;
    /*    border-bottom: 1.5px dashed gray;*/
    background-color: white;
    opacity: 0.4;
    /*    background-color: mediumpurple;*/
    margin-left: -80px;
    padding-top: 50px;
    margin-bottom: -10px;
}

#scott-levi-cards div.hand div.empty-add:before {
    content: "You don't have any cards in your hand.";
}

#scott-levi-cards div.table div.empty-add:before {
    content: "You haven't put any cards on the table.";
}


#scott-levi-cards div.card-container {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 370px;
    margin-left: -80px;
}
/*	#scott-levi-cards div.card-container:first-child {*/
/*		margin-left: 0px;*/
/*	}*/

#scott-levi-cards .drag-target {
    height: 370px;
    display: inline-block;
    /*    margin: 10px;*/
    /*    margin-top: 20px;*/
    /*    margin-bottom: 20px;*/
    width: 220px;
    /*    margin-left: -240px;*/
/*    margin-right: 0px;*/
    position: absolute;
    left: 0px;
    top: 0px;
}

    #scott-levi-cards .drag-target .drag-target-left {
        	position: relative;
        height: 370px;
        width: 110px;
        display: inline-block;
        background-color: red;
        float: left;
/*        background-color: white;*/
        opacity: 0;
    }

/*    #scott-levi-cards .drag-target .drag-target-right {*/
/*        margin-top: 10px;*/
/*        margin-bottom: 10px;*/
/*        height: 350px;*/
/*        width: 140px;*/
/*        border-radius: 10px;*/
/*        display: inline-block;*/
/*        -moz-transform: perspective(200px) rotateY(2deg);*/
/*        -ms-transform: perspective(200px) rotateY(2deg);*/
/*        -o-transform: perspective(200px) rotateY(2deg);*/
/*        -webkit-transform: perspective(200px) rotateY(2deg);*/
/*        transform: perspective(200px) rotateY(2deg);*/
/*        overflow: hidden;*/
/*        background: linear-gradient(to right, white, transparent);*/
/*        opacity: 0;*/
/*    }*/
    #scott-levi-cards .drag-target .drag-target-right {
        position: absolute;
        left: 110px;
        top: 0px;
        height: 370px;
        width: 110px;
        display: inline-block;
/*        background-color: green;*/
        float: left;
        background-color: white;
        opacity: 0;
    }

        #scott-levi-cards .drag-target .drag-target-right.drag-enter {
/*        position: absolute;*/
            top: 0px;
            width: 130px;
            height: 370px;
            opacity: 0.7;
/*            border: solid white 2px;*/
            border-radius: 10px;
            -moz-transform: perspective(200px) rotateY(2deg);
            -ms-transform: perspective(200px) rotateY(2deg);
            -o-transform: perspective(200px) rotateY(2deg);
            -webkit-transform: perspective(200px) rotateY(2deg);
            transform: perspective(200px) rotateY(2deg);
            background: linear-gradient(to right, white, transparent);
        }

#scott-levi-cards .wrapped-card {
    /*	background-color: blue;*/
    position: relative;
    /*	display: inline-block;*/
}

#scott-levi-cards .card {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto', 'Helvetica', serif;
    overflow-x: hidden;
    margin: 10px;
    width: 200px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    border: solid black 2px;
    cursor: pointer;
    -moz-transition: box-shadow ease 1s;
    -o-transition: box-shadow ease 1s;
    -webkit-transition: box-shadow ease 1s;
    transition: box-shadow ease 1s;
    left: 0px;
    top: 0px;
    -moz-transform: perspective(200px) rotateY(2deg);
    -ms-transform: perspective(200px) rotateY(2deg);
    -o-transform: perspective(200px) rotateY(2deg);
    -webkit-transform: perspective(200px) rotateY(2deg);
    transform: perspective(200px) rotateY(2deg);
}

    #scott-levi-cards .card:hover {
        box-shadow: 0px 0px 30px #FFF;
        z-index: 99;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }

#scott-levi-cards .card-color-dark {
    background-color: #111;
}

#scott-levi-cards .card-border {
    margin: 5px;
    width: 188px;
    height: 338px;
    border-radius: 5px;
    background: center;
}

#scott-levi-cards div.card-number-container {
    overflow: auto;
    height: 125px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    /*	padding: 0 5px 5px 5px;*/
}

#scott-levi-cards div.card-name-container {
    height: 50px;
    position: relative;
    margin: 0 auto;
}

#scott-levi-cards span.card-name {
    display: inline-block;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 3px;
    font-size: 20px;
    text-transform: uppercase;
}

#scott-levi-cards span.card-number {
    display: inline-block;
    color: white;
    width: 100%;
    margin: auto;
    font-size: 60px;
    line-height: 40px;
}

#scott-levi-cards span.card-ability {
    display: inline-block;
    margin-top: 1px;
    color: white;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

#scott-levi-cards div.card-in-deck {
    cursor: pointer;
}

﻿#scott-levi-cards .classic-card .card-name, #scott-levi-cards .classic-card .card-number, #scott-levi-cards .classic-card .card-ability {
    text-shadow: 0 0 3px #000;
}

#scott-levi-cards .classic-card .card-border {
    border: 0;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
}

#scott-levi-cards .classic-card .card-number {
    padding-top: 10px;
    padding-bottom: 10px;
}

#scott-levi-cards .classic-card .card-number-container {
    padding-top: 100px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3), rgba(0,0,0,.4));
}

#scott-levi-cards .classic-card .card-padding {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

#scott-levi-cards .card-in-deck-true {
}

#scott-levi-cards .card-in-deck-false {
    opacity: .3;
}

#scott-levi-cards .deck-container {
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;
    -moz-column-gap: 5px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
}

/*i like this pattern but goes know why it seems like at of extra work */

#scott-levi-cards #setting-hide.hide-check ~ .deck-container-outer {
    -moz-transition: max-height cubic-bezier(1, 0, 1, 0) .4s;
    -o-transition: max-height cubic-bezier(1, 0, 1, 0) .4s;
    -webkit-transition: max-height cubic-bezier(1, 0, 1, 0) 4s;
    transition: max-height cubic-bezier(1, 0, 1, 0) .4s;
    max-height: 20000px;
    transform: translateY(0%);
    overflow-y: hidden;
}

/*transform:translateY(-100%);*/
#scott-levi-cards #setting-hide.hide-check:checked ~ .deck-container-outer {
    max-height: 0px;
    overflow-y: hidden;
    -moz-transition: max-height cubic-bezier(0, 1, 0, 1) .4s;
    -o-transition: max-height cubic-bezier(0, 1, 0, 1) .4s;
    -webkit-transition: max-height cubic-bezier(0, 1, 0, 1) .4s;
    transition: max-height cubic-bezier(0, 1, 0, 1) .4s;
}
