<link rel="stylesheet" type="text/css" href="modules/dc-kingdom-bonds/stylesheet.css">
<div id="bonds_div" class="pad-me">
	<div class="bond_container">
		<input
			type="text"
			data-ng-model="module.left_name"
			placeholder="Character Name">
		</input>
		<textarea
			data-ng-model="module.left_description"
			placeholder="Create a Bond with the character to your left.">
		</textarea>
	</div>
	<div class="bond_container">
		<input
			type="text"
			data-ng-model="module.right_name"
			placeholder="Character Name">
		</input>
		<textarea
			data-ng-model="module.right_description"
			placeholder="Write down the Bond created by the player to your right.">
		</textarea>
	</div>
</div>
