<link rel="stylesheet" type="text/css" href="modules/colin-wielga-hp/stylesheet.css">
<div class="pad-me">
    <!--  -->
    
    <div class="hp-bar-holder">
        <div class="dead" data-ng-class="{show: !module.Alive()}">
            you have been killed
        </div>
        <div class="hp-bar" data-ng-style="{ 'width' : module.HPString(), 'background' : module.ColorString() }">
        </div>
    </div>

    <div style="display:inline-block;">
        <button data-ng-click="module.FullHeal()">Full Heal</button>
        <button data-ng-click="module.recoverEncounterHP()">End Scene</button>
        <button data-ng-click="module.hit()">Hit!</button>
    </div>
</div>
