<div>
    HP:<input type="number" value="" data-ng-model="charactor.hp" />
    Encounter HP:<input type="number" value="" data-ng-model="charactor.encounterHP" />
    <button data-ng-click="hit()">hit</button><button data-ng-click="heal()">heal</button><button data-ng-click="recoverEncounterHP()">End Sense</button>
</div>
<div>
    Facts:<input type="number" value="" data-ng-model="charactor.facts" /><button data-ng-click="charactor.facts=charactor.facts+1">+</button><button data-ng-click="charactor.facts=charactor.facts-1">-</button>
</div>