
<div data-ng-show="module.isWorking()">
    working...
</div>
<div data-ng-show="module.isList()">
    <div class="pad-me">
        <h3>Character List</h3>
        <div data-ng-repeat="char in module.list">
            <input type="button" value="{{char}}" data-ng-click="module.load(char)" />
        </div>
    </div>
    <div class="pad-me highlight-section">
        <input type="button" name="name" value="Enter game" data-ng-click="module.goToEnterGame()" />
        <input type="button" value="JSON" data-ng-click="module.goToJSON()" />
    </div>
</div>
<div data-ng-show="module.isNew()">
    <div class="pad-me">
        <h3>Save</h3>
        <input type="text" name="name" data-ng-model="module.name" />
        <input type="button" name="name" value="Save" data-ng-click="module.save()" />
    </div>
    <div class="pad-me highlight-section">
        <input type="button" name="name" value="Character List" data-ng-click="module.goToList()" />
        <input type="button" name="name" value="Connect" data-ng-click="module.goToEnterGame()" />
        <input type="button" value="JSON" data-ng-click="module.goToJSON()" />
    </div>
</div>
<div data-ng-show="module.isEnterGame()">
    <div class="pad-me">
        <h3>Connect</h3>
        name: <input type="text" data-ng-model="module.gameName" />
        password: <input type="password" data-ng-model="module.gamePassword" />
        <input type="button" value="Connect" data-ng-click="module.connect()" />
    </div>
    <div class="pad-me highlight-section">
        <input type="button" value="JSON" data-ng-click="module.goToJSON()" />
        <input type="button" value="Local" data-ng-click="module.Local()" />
        <!--<input type="button" value="Json" data-ng-click="module.Json()" />-->
    </div>
</div>
<div data-ng-show="module.isJSON()">
    <div class="pad-me">
        <h3>JSON</h3>
        <textarea data-ng-model="module.json" placeholder="character json" class="char-text auto-resize"></textarea>
        <input type="button" value="read json in" data-ng-click="module.saveJson()" />
        <input type="button" value="print json out" data-ng-click="module.refreshJSON()" />
    </div>
    <div class="pad-me highlight-section">
        <!--<input type="button" value="Json" data-ng-click="module.Json()" />-->
        <input type="button" name="name" value="Connect" data-ng-click="module.goToEnterGame()" />
        <input type="button" value="Local" data-ng-click="module.Local()" />
    </div>
</div>