/*yeah I dont' think it is here*/
.scott-levi-card {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto', 'Helvetica', serif;
    margin: 10px;
    width: 100px;
    height: 175px;
    border-radius: 5px;
    text-align: center;
    border: solid black 2px;
    -moz-transition: box-shadow ease 1s;
    -o-transition: box-shadow ease 1s;
    -webkit-transition: box-shadow ease 1s;
    transition: box-shadow ease 1s;
    transition: left ease .6s;
    left: 0px;
    top: 0px;
}

.wrapped-card.draggable .scott-levi-card {
    cursor: grab;
}

.wrapped-card.dragging .scott-levi-card {
    cursor: grabbing;
    box-shadow: 0px 0px 20px -2px white;
}

    /*.scott-levi-card:hover {

        border-radius: 10px 10px 0px 0px;
    }*/

    .scott-levi-card.dragging:hover {
        border-radius: 10px;
    }

    .scott-levi-card:hover .card-border {
        border-radius: 5px 5px 0px 0px;
    }

    .scott-levi-card.dragging:hover .card-border {
        border-radius: 5px;
    }

    .scott-levi-card:hover .card-number-container {
        display: none;
    }

    .scott-levi-card.dragging:hover .card-number-container {
        display: block;
    }



.scott-levi-card {
    background-color: #111;
}
    .scott-levi-card .card-name,
    .scott-levi-card .card-number,
    .scott-levi-card .card-ability {
        text-shadow: 0 0 3px #000;
    }

    .scott-levi-card .card-border {
        border: 0;
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        flex-direction: column;
    }

    .scott-levi-card .card-number {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .scott-levi-card .card-number-container {
        padding-top: 50px;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3), rgba(0,0,0,.4));
    }

    .scott-levi-card .card-padding {
        -ms-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
    }




.card-info-container {
    display: none;
    position: absolute;
    margin-top: 2px;
    left: -2px;
    width: 188px;
    background-color: #A2A2A2;
    border-radius: 0px 0px 10px 10px;
    border-left: solid black 8px;
    border-right: solid black 8px;
    border-bottom: solid black 8px;
    /*box-shadow: 0px 2px 20px -2px black;*/
}

.scott-levi-card:hover .card-info-container {
    display: inline-block;
    z-index: 99;
}


.scott-levi-card-container {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 185px;
    margin-left: -0px;
}

.scott-levi-card-container {
    left: 0px;
    -moz-transition: left ease .4s;
    -o-transition: left ease .4s;
    -webkit-transition: left ease .4s;
    transition: left ease .4s;
}

    /*.scott-levi-card-container:hover ~ .scott-levi-card-container {
        left: 70px;
    }

    .scott-levi-card-container.dragging:hover ~ .scott-levi-card-container {
        left: 0px;
    }*/

/*#scott-levi-cards .card-container:hover + .card-container + .card-container{
            left: 25px;
        }

            #scott-levi-cards .card-container:hover + .card-container + .card-container + .card-container {
                left: 5px;
            }*/

.played-by {
    background-color: white;
    z-index: 10;
    position: absolute;
    padding: 2px;
    border-radius: 2px;
    border: 2px black solid;
}

.discard-pile { /*this first bit ".discard-pile" says what the rules applies to
                    this rule applies to html elements with the class "dicard-pile"
                    the dot "." means class
                    so ".discard-pile"
                */
    -webkit-filter: grayscale(70%);
    /*
        inside here we have 
    */
}

/*
    this is css

    i think this is the first time you have used it, no?

    it is made up of rules

*/

/*each one of those is a rule*/
.scott-levi-card-container .card-border {
    margin: 1px;
    width: 98px;
    height: 173px;
    background: center;
}

.scott-levi-card-container .card-number-container {
    overflow: auto;
    height: 120px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    /*	padding: 0 5px 5px 5px;*/
}

.scott-levi-card-container .card-name-container {
    height: 50px;
    position: relative;
    margin: 0 auto;
}

.scott-levi-card-container .card-name {
    display: inline-block;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 3px;
    font-size: 20px;
    text-transform: uppercase;
}

.scott-levi-card-container .card-number {
    display: inline-block;
    color: white;
    width: 100%;
    margin: auto;
    font-size: 60px;
    line-height: 40px;
}

.scott-levi-card-container .card-ability {
    display: inline-block;
    margin-top: 1px;
    color: white;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}


.wrapped-card {
    position: relative;
}

.card-cards-container {
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 25px;
}
