.questions-button-container{
	margin: 0 -8px;
	padding: 8px 8px 8px 8px;
	border: 0;
	box-shadow: 0 4px 3px gray;
	text-align: center;     /* Aligns buttons */
}
.ask-container {
    margin-top: 20px;
}
.ask {
    font-weight: bold;
}
.answer-container textarea {
    margin-top: 8px;
    width: 80%;
    height: 80px;
}
