#colin-wielga-cards .humours-card{
    display: flex;
    height: 200px;
    position: relative;
}

/* PANELS */
/* Recognizes single-panel and split-panel cards. */
#colin-wielga-cards .humours-card .panel{
    flex: 1;
    border-style: none;
    border-width: 3px;
    border-color: #555;
}

/* This applies to single-panel cards: */
#colin-wielga-cards .humours-card .first_panel{
    border-radius: 10px;
}

/* These modify split-panel cards: */
#colin-wielga-cards .humours-card .second_panel{
    border-right-style: solid;
    border-radius: 10px 0 0 10px;
    /* border-top-style: solid; */
    /* transform: rotate(90deg) scaleX(2) scaleY(.5); */
    /* border-radius: 0 0 10px 10px; */
}

#colin-wielga-cards .humours-card .second_panel ~ div{
    border-left-style: solid;
    border-radius: 0 10px 10px 0;
    /* border-top-style: solid; */
    /* transform: rotate(-90deg) scaleX(2) scaleY(.5); */
    /* border-radius: 0 0 10px 10px; */
}

/* DECREASE ARROW */
#colin-wielga-cards .humours-card .decrease-arrow{
    position: absolute;
    width: 25px;
    height: 100%;
    left: 87px;
}

#colin-wielga-cards .humours-card .decrease-arrow::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
    position: absolute;
    bottom: 0;
    left: -12px;
}

/* HUMOUR COLORS */
#colin-wielga-cards .humours-card .panel.yellowbile{
    background-color: hsl(45, 95%, 30%);
    /* background-image: linear-gradient(to left, */
    /*                                  hsl(45, 95%, 5%) 5%, */
    /*                                  hsl(45, 95%, 30%), */ 
    /*                                  hsl(45, 95%, 30%), */ 
    /*                                  hsl(45, 95%, 5%) 95%); */
    /* background-image: radial-gradient(circle closest-side, */
    /*                                  hsl(45, 95%, 30%) 50%, */
    /*                                  hsl(45, 95%, 5%)); */
}
#colin-wielga-cards .humours-card .panel.blackbile{
    background-color: hsl(270, 95%, 15%);
    /* background-image: linear-gradient(to left, */
    /*                                  hsl(270, 95%, 5%) 5%, */
    /*                                  hsl(270, 95%, 15%), */ 
    /*                                  hsl(270, 95%, 15%), */ 
    /*                                  hsl(270, 95%, 5%) 95%); */
    /* background-image: radial-gradient(circle closest-side, */
    /*                                 hsl(270, 95%, 20%) 50%, */
    /*                                  hsl(270, 95%, 5%)); */
}
#colin-wielga-cards .humours-card .panel.phlegm{
    background-color: hsl(130, 95%, 25%);
    /* background-image: linear-gradient(to left, */
    /*                                  hsl(130, 95%, 5%) 5%, */
    /*                                   hsl(130, 95%, 25%), */
    /*                                   hsl(130, 95%, 25%), */
    /*                                   hsl(130, 95%, 5%) 95%); */
    /* background-image: radial-gradient(circle closest-side, */
    /*                                   hsl(130, 95%, 25%) 50%, */
    /*                                   hsl(130, 95%, 5%)); */
}

#colin-wielga-cards .humours-card .decrease-arrow.yellowbile{
    background-image: linear-gradient(to top,
                                        rgba(0,0,0,0) 25px,
                                        hsl(45, 95%, 30%) 25px);
}
#colin-wielga-cards .humours-card .decrease-arrow.yellowbile::after{
    border-top-color: hsl(45, 95%, 30%);
}

#colin-wielga-cards .humours-card .decrease-arrow.blackbile{
    background-image: linear-gradient(to top,
                                        rgba(0,0,0,0) 25px,
                                        hsl(270, 95%, 15%) 25px);
}
#colin-wielga-cards .humours-card .decrease-arrow.blackbile::after{
    border-top-color: hsl(270, 95%, 15%);

}

#colin-wielga-cards .humours-card .decrease-arrow.phlegm{
    background-image: linear-gradient(to top,
                                        rgba(0,0,0,0) 25px,
                                        hsl(130, 95%, 25%) 25px);
}
#colin-wielga-cards .humours-card .decrease-arrow.phlegm::after{
    border-top-color: hsl(130, 95%, 25%);
