<link href="modules/colin-wielga-cards/stylesheet.css" rel="stylesheet" />
<div class="card-buttons-container">
    <center>
        ﻿       <button data-ng-click="module.draw()"> draw </button>
    </center>
</div>
<div class="card-cards-container">
    <center>
        <div data-ng-repeat="cardID in module.cards" class="card-container" data-ng-init="card = module.getCard(cardID)">
            <div data-ng-include="card.getHtml()"></div>
        </div>
    </center>
</div>
<div class="deck-container">
    <div data-ng-repeat="cardID in module.possibleCards()" class="card-container card-in-deck-{{module.inDeck(cardID)}}" data-ng-init="card = module.getCard(cardID)" data-ng-click="module.toggleCardActive(cardID)">
        {{card.name}}
    </div>
</div>

