#dc-humours .module_body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
}

    #dc-humours .module_body > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #dc-humours .module_body span{
        margin: .5em;
    }

#dc-humours .radiocontainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-self: center;
    width: 50%;
    height: 1.5em;
}

#dc-humours .radiocontainer label{
    border-radius: 50%;
    padding: 0.5em 1em;
    margin: 5px;
    background: #FFFFFF;
}

#dc-humours .radiocontainer input[type='radio']{
    display: none;
}
    #dc-humours .radiocontainer input[type='radio']:checked ~ label{
    }


