<div >
    <form class="pad-me">
        <input type ="number" min="1" max="20" value="{{module.ndrolls}}" id="ndicerolls" class="narrowinput"/> 
        d
        <input type ="number" min="1" max="120" value="{{module.hi}}" id="dicerangehi" class="narrowinput"/>
        <input type="submit" data-ng-click="module.diceRoll()" value="Roll!" />
    </form>
    
    <div class="pad-me">
        <span width="50px">
          Sum:
        </span>{{module.drollsum}}
      <br/>
        <span width="50px">
          Rolls:
        </span>{{module.drolltext}}
    </div>
    
  <div class="pad-me"> 
    <input type="button" value="Advanced Options" data-ng-click="module.showAdvanced()"/>
  </div>

  <div data-ng-show="module.advancedDisplayed">
    
    <div class="pad-me highlight-section">
      Dice lower bound: <input type ="number" data-ng-model="module.lo">      
    </div>
  </div>
</div>

<!-- This needs to be on bottom. -->
<link rel="stylesheet" type="text/css" href="modules/manuchehr-aminian-dice/stylesheet.css">